.forgot-password-container {
  min-width: 300px;
  margin: 0 auto;
  padding-top: 110px;
  padding-bottom: 135px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.forgot-password-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.email-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.reset-button {
  display: block;
  width: 300px;
  padding: 10px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 610px;
  margin-top: 10px;
}

.reset-button:hover {
  background-color: #ff8500;
}